@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model StartProjectGuide.Models.Blocks.GenericContainerBlock
@{
}
@if (Model != null && Model.MainContentArea != null)
{
    <div class="section align-center" style="background:@Model.BackgroundColor">
        @Html.PropertyFor(m => m.MainContentArea, new { HasContainer = false, HasChildContainer = false})
    </div>
}
