@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model StartProjectGuide.Models.Blocks.ImageBlock
@if (Model.Url != null)
{
<div class="image-container">
    <img src="@Url.ContentUrl(Model.Url)" title="@Model.Title" />
</div>
}